/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    background-color: #292929;
    font-size: 1em;
    line-height: 1.4;
    width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    display: table;
    margin: auto;
    overflow: hidden;
}

body {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    min-height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.flex-container {
    height: 90%;
    min-height: 90%;
    max-height: 90%;
    background-color: #3d4a6e;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    overflow-y: -webkit-paged-x;
    -webkit-animation: fadein 2s;
}

.flex-container > div{
    background-color: #f1f1f1;
    height: 100%;
    margin: 0;
    text-align: center;
    font-size: 30px;
}


#menu {
    width: 50px;
    background-color: #292929;
}

#leftContainer {
    width: 30%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

#leftContainer > img {
    height: 90%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
}

#mobileMenu {
    display: none;
    top: 0;
    width: 100%;
    max-height: 10%;
}

.horizontal-flex {
    width: 100%;
    max-height: 10%;
    background-color: #292929;
    display: none;
    flex-flow: row;
    align-items: center;
    justify-content: center;
}

.vertical-flex {
    width: 100%;
    height: 100%;
    background-color: #292929;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.vertical-flex > div{
    width: 100%;
    height: 50px;
}

.menuBtn {
    border: none;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    background-color: #292929;
    width: 100%;
    height: 50px;
}

.menuBtn > i {
    color: white;
    max-height: 50%;
    max-width: 50%;
    vertical-align: middle;
    font-size: 20px;
}

#rightContainer {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 60%;
    background-color: gainsboro;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    min-width: 60%;
    min-height: 100%;
    overflow-y: auto;
}

#rcTextBlock {
    height: 50%;
    max-height: 50%;
    vertical-align: middle;
    max-width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

#rcTextBlock p {

    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: darkslateblue;
}
#rcTextBlock p i{
    font-size: 20px;
}

#name {
    font-weight: bold;
    font-size: 40px;
}

#resumeTab {
    display: none;
    height: 100%;
    width: 100%;
    padding: 5px;
}

#resumeTab object {
    min-width: 100%;
    min-height: 100%;
}

.resumeItem {
    background-color: aqua;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 100;
    color: darkslateblue;
    max-width: 100%;
    margin: 10px;
    border-radius: 10px;
}

.jobTitle {
    font-weight: 500;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#mapTab {
    display: none;
    height: 100%;
    width: 100%;
}

#mapid {
    min-width: 100%;
    min-height: 100%;
}

.btnStyle {
    background-color: #fff;
    border: 2px solid #ccc;
    color: black;
    padding: 4px;
    margin: 4px;
    width:35px;
    height: 35px;
    font-size: 20px;
}

.leaflet-bar a {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    /* border-bottom-color: rgb(204, 204, 204); */
    color: #444;
    display: block;
    height: 26px;
    width: 26px;
    line-height: 1.45 !important;
    text-align: center;
    text-decoration: none;
    font: 16px'Lucida Console', Monaco, monospace;
}

#aboutTab {
    display: none;
    
    margin-left: 10%;
    margin-right: 10%;
    color: darkslateblue;
    max-height: 950px;
}

.aboutText {
    font-size: 30px;
}

#aboutTab::-webkit-scrollbar {
    width: .5em;
}

#aboutTab::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#aboutTab::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
}

footer {
    display: block;
    position: absolute;
    bottom: -5;
    right: 0;
    height: 5%;
}

.socialBtns {
    height: 100%;
    width:50px;
    background-color: transparent;
    color: white;
    font-size: 32px;
    border: none;
    margin-left: 5px;
    margin-right: 5px;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
    -webkit-animation: fadein 2s;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

   @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        vertical-align: top;
        padding-bottom: 10%;
    }

    .horizontal-flex {
        display: flex;
    }

    #leftContainer {
        display: none;
    }
    #menu {
        display: none;
    }
    #mobileMenu {
        display: flex;
        background-color: #292929;
    }

    #mobileMenu > div {
        height: 100%;
    }

    .menuBtn {
        height: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #rightContainer {
        width: 100%;
    }

    #rcTextBlock > p {
        font-size: 26px;
    }

    #aboutTab {
        font-size: 20px;
        max-height: 700px;
        max-width: 90%;
    }

    .aboutText {
        font-size: medium;
    }

    footer {
        bottom: 0;
    }
  }

/* ==========================================================================
   Keyframes
   ========================================================================== */


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}



@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
